@import "abstracts/variables";

:export {
    sm: $screen-sm;
    md: $screen-md;
    lg: $screen-lg;
    xl: $screen-xl;
    xxl: $screen-2xl;
    defaultGreen: $default-green;
    defaultOrange: $default-orange;
    defaultYellow: $default-yellow;
    defaultBlue: $default-blue;
    defaultInputBg: $default-input-bg;
    defaultFontColor: $default-font-color;
}