@import "abstracts/variables";

:export {
    screenSm: $screen-sm;
    defaultGreen: $default-green;
    defaultOrange: $default-orange;
    defaultYellow: $default-yellow;
    highlightYellow: darken($default-green, 15%);
    defaultBlue: $default-blue;
    defaultInputBg: $default-input-bg;
    defaultFontColor: $default-font-color;
}