*{
    box-sizing: border-box;
}

body{
    margin: 0
}

:root{
    background-color: $default-bg;
    color: $default-font-color;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}