.menu {
    display: flex;
    background-color: $default-orange;
    padding: 0.2rem;
    border-radius: 0.5rem;
    gap: 0.25rem;

    button {
        display: flex;
        align-self: center;
        border: none;
        background: none;
        color: #FFF;
        font-size: 0.85rem;
        font-weight: 500;
        padding: 0 0.2rem;
        opacity: 0.6;

        &:hover,
        &.is-active {
            opacity: 1;
        }

        &.bold {
            font-weight: 900;
        }

        &.italic {
            font-style: italic;
        }

        &.icon {
            font-size: 1.25rem;
        }
    }
}

.text-editor {
    display: flex;
    width: 60%;
    min-height: 10rem;

    @media screen and (min-width: $screen-sm) and (max-width: $screen-xl) {
        width: 70%;
    }

    @media screen and (min-width: 0px) and (max-width: $screen-sm) {
        width: 85%;
    }
}

.tiptap {
    >*+* {
        margin-top: 0.75em;
    }

    h1 {
        color: $default-green;
    }

    ul,
    ol {
        padding: 0 1rem;
    }

    &:focus {
        outline: none;
    }

    .is-editor-empty:first-child::before {
        content: attr(data-placeholder);
        float: left;
        color: darken($default-font-color, 40%);
        pointer-events: none;
        height: 0;
    }
}