// Layout
$default-bg: #1F0D00;
$default-font-color: #d9d9d9;
$navbar-bg: #4D2B1D;
$default-input-bg: darken($navbar-bg, 5%);
$navbar-height: 3rem;

// Default theme colors
$default-green: #91825a;
$default-orange: #BC5217;
$default-red: #be2424;
$default-yellow: #cdcd05;
$default-blue: #4da8c1;

// Screen sizes
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;