@use "sass:color";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    background-color: $default-bg;
    color: $default-font-color;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    flex: 1;


    &.tree {
        gap: 2rem;
        padding-bottom: 2rem;
    }

    &.login {
        height: calc(100vh - $navbar-height);
        min-height: min-content;
        margin: 3rem 0;
        align-content: center;
    }
}

.icons {
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
        color: $default-orange !important;
    }
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled {
    cursor: default !important;
    color: color.scale($default-font-color, $lightness: -50%) !important;
    pointer-events: none;
}