.frame {
    display: grid;
    line-height: 1.5;
    height: min-content;
    @include content-responsiveness;
    transition: all 0.5s ease;

    >.container {
        display: flex;

        >.body {
            &.justify {
                text-align: justify;
            }

            width: 100%;
            height: min-content;
        }
    }

    >.footer {
        display: flex;
    }

    >.header {
        display: flex;
        align-content: center;
        justify-content: space-between;

        .title {
            width: 100%;
            color: $default-green;
            align-self: center;
            text-align: left;

            a {
                color: $default-green;
            }

            &[contenteditable=true] {
                cursor: text;
                outline: none;

                &.critique {
                    font-size: 2rem;

                    &:empty:before {
                        color: darken($default-orange, 15%);
                    }
                }

                &.error {
                    &:empty:before {
                        color: darken($default-red, 15%);
                    }
                }

                &:empty:before {
                    content: attr(placeholder);
                    color: darken($default-green, 15%);
                }
            }
        }

        .buttons {
            display: flex;
            font-size: 2rem;
            gap: 0.25rem;
            flex-shrink: 0;
            align-items: center;
            margin-left: 1rem;
        }

        .vote-buttons {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            gap: 0.5rem;
            margin-right: 0.5rem;
            justify-content: center;

            &.withDefVote {
                gap: 0.1rem;

                input {
                    margin: 0;
                }
            }


            .up {
                color: #479024;
                cursor: pointer;
            }

            .down {
                color: #e65000;
                cursor: pointer;
            }
        }
    }

    // Maybe the critique color will be accordingly to the user's vote.
    &.critique {
        .title {
            color: $default-orange;

            textarea {
                color: $default-orange;
            }
        }

        .bracket {
            border-color: $default-orange;
        }
    }

    .icons {
        cursor: pointer;
        transition: all 0.15s ease;

        &:hover {
            color: $default-orange;
        }
    }

    .metrics {
        :first-child {
            list-style: none;
        }

        li::marker{
            color: $default-green;
        }

        font-size: 0.75rem;
        text-align: center;
        padding: 0;
        display: flex;
        gap: 1rem;

        @media screen and (max-width: $screen-lg) {
            font-size: 0.65rem;
            gap: 0.75rem;
        }
    }
}

.bracket {
    width: 1rem;
    flex-shrink: 0;
    margin-right: 0.75rem;
    transition: border-color 0.2s linear;

    border-style: solid;
    border-width: 0 0 0px 2px;
    border-color: $default-green;

    @media screen and (min-width: 0px) and (max-width: $screen-sm) {
        margin-right: 0.25rem;
    }

    &.top {
        position: relative;
        height: 50%;
        top: 50%;
        margin-bottom: 0;
        border-width: 2px 0 0 2px;
        border-radius: 0.75rem 0 0 0;
    }

    &.bottom {
        position: relative;
        height: 50%;
        margin-bottom: 0;
        border-width: 0 0 2px 2px;
    }

    &.critique {
        border-color: $default-orange;
    }

    &.error {
        border-color: $default-red !important;
    }

    &.reverse {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph;
        filter: fliph;
        margin-left: 0.75rem;
    }
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled {
    cursor: default !important;
    color: darken($default-font-color, 50%) !important;
}