@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner {
    margin-top: 5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 0.25rem solid transparent;
    border-top-color: $default-green;
    background: transparent;
    animation: spinner 1s linear infinite;
}