.topic {
    display: flex;
    line-height: 1.5;
    height: min-content;
    @include content-responsiveness;
    transition: all 0.5s ease;

    .title {
        width: 100%;
        color: $default-green;
        text-align: left;
        word-wrap: anywhere;

        textarea {
            line-height: 1;
            resize: none;
            overflow-y: hidden;
            width: 100%;
            background-color: $default-bg;
            outline: none;
            border: none;
            color: $default-green;
            font-size: 2rem;
            font-weight: bolder;
        }
    }

    .body {
        text-align: justify;
        width: 100%;
        height: min-content;
    }

    .bracket {
        width: 1rem;
        flex-shrink: 0;
        margin: 0 0.75rem 0.4rem 0;

        border-style: solid;
        border-width: 2px 0 2px 2px;
        border-color: $default-green;
        border-radius: 0.75rem 0 0 0;
    }

    // Maybe the critique color will be accordingly to the user's vote.
    &.critique {
        .title {
            color: $default-orange;

            textarea {
                color: $default-orange;
            }
        }

        .bracket {
            border-color: $default-orange;
        }
    }

    .header {
        display: flex;
        align-content: center;
        justify-content: space-between;

        .left-side {
            width: 100%;
            display: flex;
            align-content: center;
        }

        .right-side {
            display: flex;
            font-size: 2rem;
            gap: 0.25rem;
            flex-shrink: 0;
            align-items: center;
        }

        .vote-buttons {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            gap: 0.5rem;
            margin-right: 0.5rem;
            justify-content: center;

            .up {
                color: #479024;
                cursor: pointer;
            }

            .down {
                color: #e65000;
                cursor: pointer;
            }
        }
    }

    .icons {
        cursor: pointer;
    }

    .metrics {
        :first-child {
            list-style: none;
        }

        font-size: 0.75rem;
        text-align: center;
        padding: 1rem 0 0 0;
        margin: 0;
        display: flex;
        gap: 1rem;

        @media screen and (max-width: $screen-lg) {
            font-size: 0.65rem;
            gap: 0.75rem;
        }
    }

    .post-percentage-bar {
        display: flex;
        min-width: min-content;
        height: 2.5rem;
        margin-bottom: 0.5rem;
        justify-content: space-between;
        background-color: $default-font-color;
        color: $default-bg;
        padding: 0 1rem 0 0.5rem;
        align-content: center;
        border-radius: 0 0.75rem 0.75rem 0;

        span {
            &:first-child {
                margin-right: 0.5rem;
            }

            display: flex;
            align-self: center;
        }
    }

    .read-more {
        display: flex;
        width: min-content;
        text-decoration: none;
        color: inherit;
        margin-left: auto;
        font-weight: bold;
        margin-bottom: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .no-response {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem
    }
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}