.loginContainer {
    display: grid;
    height: min-content;
    width: min-content;

    .spaced {
        display: flex;
        justify-content: space-between;
    }

    .header {
        span {
            color: $default-green;

            &>span {
                color: $default-orange;
            }
        }
    }

    .body {
        .loginForm {
            width: 100%;
            display: grid;
            margin-top: 1rem;
            gap: 2.5rem;

            .userData {
                width: 100%;
                display: grid;
                gap: 0.75rem;
            }

            .createAccount {
                text-align: center;
                margin-bottom: 1.5rem;
                white-space: nowrap;

                a {
                    white-space: nowrap;
                    font-weight: bold;
                }
            }
        }

        .profilePictureCanvas{
            h2{
                text-align: center;
                margin: 0 0 0.5rem 0;
            }
        }

        .inputBox {
            input {
                height: 2.5rem;

                &:not(:placeholder-shown)+label,
                &:focus+label {
                    background-color: $default-bg;
                }
            }
        }
    }
}