.post {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 2rem;

    .frame {
        &.original {
            @include content-responsiveness(50vw, 60vw, 95vw);
        }

        &.critique {
            @include content-responsiveness(40vw, 35vw, 0);
        }
    }

    .modal {
        .header {
            margin: 0;

            h1 {
                margin: 0;
                display: flex;
                align-items: center;

                textarea {
                    background-color: $navbar-bg;
                }
            }
        }

        .spaced {
            margin: 1rem 0;
        }
    }
}

.timerSlider {
    margin-top: 1rem;

    input,
    datalist {
        @include content-responsiveness(50vw, 60vw, 80vw);
    }
}