.modal>.body {
    display: flex;
    place-content: space-around;
    place-items: center;
    width: 100%;

    @media screen and (min-width: 0px) and (max-width: $screen-sm) {
        flex-direction: column;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        place-items: center;

        div {
            width: 100%;
            margin-bottom: 1rem;
        }

        @media screen and (min-width: 0px) and (max-width: $screen-sm) {
            width: 90%;
        }

        
    }

    table {
        margin: 0;
        table-layout: auto;

        th,
        td {
            max-width: fit-content;
            white-space: nowrap;

            &>input {
                max-width: 8rem;
                &:read-only:focus{
                    outline: none;
                }
            }
        }
    }
}