@mixin apply-theme($theme-colors) {
    // Apply colors from the $theme-colors map
    $colors: map-keys($theme-colors);
    @each $key in $colors {
      $value: map-get($theme-colors, $key);
      --#{$key}: #{$value};
    }
  
  }



@mixin content-responsiveness($default: 60vw, $medium: 80vw, $small: 95vw) {
    width: $default;

    @media screen and (min-width: $screen-sm) and (max-width: $screen-xl) {
        width: $medium;
    }

    @media screen and (min-width: 0px) and (max-width: $screen-sm) {
        width: $small;
    }
}