@use "sass:color";

// Theme colors

// Color Palette
$primary: #007BFF;
$secondary: #6C757D;
$success: #28A745;
$info: #17A2B8;
$warning: #FFC107;
$danger: #DC3545;
$light: #F8F9FA;
$dark: #343A40;

$theme-colors: (
  "default-bg": #001f3f,
  "default-font-color": #d9d9d9, // Light Gray
  "navbar-bg": color.scale(#001f3f, $lightness: 10%), // Slightly Brighter
  "default-input-bg": color.scale(#001f3f, $lightness: 5%), // Slightly Lighter
  "primary":$primary,
  "secondary":$secondary,
);

// Layout variables
$navbar-height: 3.5rem;

// Screen sizes
$screen-sm: 640px;      
$screen-md: 768px;      
$screen-lg: 1024px;     
$screen-xl: 1280px;     
$screen-2xl: 1536px;   