@use "sass:color";
@use "../abstracts/variables" as *;

input,textarea,
div,
span {
    font-family: "Lato", sans-serif;
}

span.error,
label.error,
h1.error, h2.error, h3.error, h4.error, h5.error, h6.error {
    color: $danger !important;
}

button {
    min-width: min-content;
    background: transparent;
    color: $light;
    border: 2px solid $success;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    transition: all 0.15s ease;
    cursor: pointer;
    font-family: "Lato", sans-serif;

    &:hover {
        border-color: $warning;
        background-color: $warning;
    }

    &:active {
        border-color: color.scale($warning, $lightness: -10%);
        background-color: color.scale($warning, $lightness: -10%);
    }

    &.error {
        border-color: $danger;

        &:hover {
            border-color: $danger;
            background-color: $danger;
        }

        &:active {
            border-color: color.scale($danger, $lightness: -10%);
            background-color: color.scale($danger, $lightness: -10%);
        }
    }

    &:disabled {
        border-color: color.scale($default-font-color, $lightness: -40%);
        color: color.scale($default-font-color, $lightness: -40%);
        cursor: default;
        background-color: transparent;

        &:hover{
            background-color: transparent;
            border-color: color.scale($default-font-color, $lightness: -40%);
        }
    }
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all 0.1s ease;
    font-family: "Lato", sans-serif;

    &:hover {
        color: $warning;
    }

    &:active {
        color: color.scale($warning, $lightness: -10%);
    }
} 

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 95%;
    margin: 1rem 2.5%;
    overflow: hidden;
    text-align: center;

    td,
    th {
        min-width: 1em;
        border: 2px solid $warning;
        padding: 3px 5px;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;

        >* {
            margin-bottom: 0;
        }
    }

    th {
        font-weight: bold;
        background-color: $warning;
    }

    input {
        background-color: $default-input-bg;
        border: none;
        color: $light;
        width: 100%;
    }

    .selectedCell:after {
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 200, 200, 0.4);
        pointer-events: none;
    }
}

input[type=checkbox],
input[type=radio] {
    accent-color: $warning;
    cursor: pointer;
    min-width: 1rem;
    min-height: 1rem;

    &:not(:checked) {
        appearance: none;
        border: 2px solid $success;

        &[type=checkbox] {
            border-radius: 0.2rem;
        }

        &[type=radio] {
            border-radius: 50%;
        }

        &:hover {
            border-color: $warning;
        }
    }
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &::-moz-range-track {
        background-color: color.scale($light, $lightness: -20%);
        border-radius: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-slider-runnable-track {
        background-color: color.scale($light, $lightness: -20%);
        border-radius: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-slider-thumb {
        transition: all 0.2s ease;
        -webkit-appearance: none;
        appearance: none;
        margin-top: -0.25rem;
        background-color: $default-green;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        border: none;
    }

    &::-moz-range-thumb {
        transition: all 0.2s ease;
        background-color: $success;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
        border: none;
    }

    &:not(:disabled):active::-webkit-slider-thumb {
        background-color: $warning;

        outline: 3px solid $warning;
        outline-offset: 0.125rem;
    }

    &:not(:disabled):active::-moz-range-thumb {
        background-color: $warning;

        outline: 3px solid $warning;
        outline-offset: 0.125rem;
    }

    &:disabled {
        cursor: default;

        &::-webkit-slider-thumb {
            background-color: color.scale($light, $lightness: -50%);
        }

        &::-moz-range-thumb {
            background-color: color.scale($light, $lightness: -50%);
        }
    }
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    font-family: "Lato", sans-serif;
}


fieldset {
    font-family: "Lato", sans-serif;

    legend {
        color: $success;
    }

    border: 2px solid $success;
    border-radius: 0.75rem 0.25rem 0.25rem 0.25rem;

    &.error {
        legend {
            color: $danger;
        }

        border-color: $danger;
    }
}

footer {
    display: flex;
    place-content: center;
    padding: 1rem 0;
    margin: 2rem auto 0 auto;
    border-top: 2px solid color.scale($default-green, $lightness: -10%);
    @media screen and (min-width: $breakpoint-large){
        width: 60vw;
    }

    a {
        color: color.scale($light, $lightness: -10%);
    }
}