button {
    background: transparent;
    color: $default-font-color;
    border: 2px solid $default-green;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;

    &:hover {
        border-color: $default-orange;
        background-color: $default-orange;
    }
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 1rem;
    overflow: hidden;

    td,
    th {
        min-width: 1em;
        border: 2px solid $default-orange;
        padding: 3px 5px;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;

        >* {
            margin-bottom: 0;
        }
    }

    th {
        font-weight: bold;
        text-align: left;
        background-color: $default-orange;
    }

    input {
        background-color: transparent;
        border: none;
        color: $default-font-color;
        width: 100%;
    }

    .selectedCell:after {
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 200, 200, 0.4);
        pointer-events: none;
    }
}

input[type=checkbox] {
    accent-color: $default-orange;
    cursor: pointer;
    min-width: 1rem;
    min-height: 1rem;

    &:not(:checked) {
        appearance: none;
        border: 2px solid $default-green;
        border-radius: 0.1rem;

        &:hover{
            border-color: $default-orange;
        }
    }
}