* {
    box-sizing: border-box;
}

body {
    margin: 0
}

:root {
    background-color: $default-bg;
    color: $default-font-color;
}

.content {
    display: grid;
    justify-items: center;


    &.tree {
        gap: 2rem;
        padding-bottom: 2rem;
    }

    &.login {
        height: calc(100vh - $navbar-height);
        align-content: center;
    }
}