nav{
    display: flex;
    background-color: $navbar-bg;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 3rem;

    @media screen and (max-width: $screen-sm) {
        padding: 0 0.5rem;
    }

    div{
        align-items: center;
        display: flex;
    }

    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: $default-orange;
        }
    }

    ul{
        :first-child{
            list-style: none;
        }
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1.35rem;

        @media screen and (max-width: $screen-sm) {
            list-style: none;
            gap: 0.5rem;
        }
    }
}

.active{
    color: $default-orange;
}

.nav-icon{
    color: $default-green;
    margin: 0 2rem 0 1rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 1.25rem;

    @media screen and (max-width: $screen-sm) {
        margin: 0 0.75rem 0 0.25rem;
    }
}

.nav-searchbar{
    color: white;
    background-color: $default-input-bg;
    height: 1.75rem;
    border: 1px solid darken($default-font-color, 40%);
    border-radius: 0.25rem;

    &:focus{
        border-color: darken($default-font-color, 30%);
        outline: none !important;
    }
}

.nav-user-icon{
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: end;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.nav-right{
    gap: 0.5rem;
    @media screen and (max-width: $screen-sm) {
        gap: 0.25rem;
    }
}