@use "../abstracts/variables";

.colcom {
    display: flex;
    line-height: 1rem;
    width: min-content;
    color: var(--green-text);
    font-family: var(--font-brand);
    font-size: var(--text-xl);
    letter-spacing: 0.02em;

    @media screen and (min-width: 0px) and (max-width: variables.$screen-sm) {
        flex-wrap: wrap;
    }

    .dot {
        color: var(--text);
    }

    .com {
        color: var(--orange-text);
    }
}
