@use "../abstracts/variables";

.colcom {
    display: flex;
    line-height: 1rem;
    width: min-content;
    color: variables.$default-green;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 1.25rem;

    @media screen and (min-width: 0px) and (max-width: variables.$screen-sm) {
        flex-wrap: wrap;
    }

    .dot {
        color: variables.$default-font-color;
    }

    .com {
        color: variables.$default-orange;
    }
}