.mainIcon {
    display: flex;
    line-height: 1.2rem;
    width: min-content;
    color: $primary;

    @media screen and (min-width: 0px) and (max-width: $screen-sm) {
        flex-wrap: wrap;
    }

    .dot {
        color: $light;
    }

    .com {
        color: $warning;
        font-weight: bold;
    }
}