@use "sass:color";

.inputBox {
    position: relative;

    input,
    select {
        min-width: min-content;
        width: 100%;
        height: 2.25rem;
        color: $default-font-color;
        background: transparent;
        border: 2px solid $default-green;
        border-radius: 0.25rem;
        outline: none;
        transition: .3s;

        &::placeholder {
            opacity: 0;
        }

        &:not(:placeholder-shown)+label,
        &:focus+label {
            top: 0;
            font-size: .75rem;
            color: $default-green;
            background: $navbar-bg;
            padding: 0.2rem;
        }

        &:focus {
            border: 2px solid $default-orange;
        }

        &:focus+label {
            color: $default-orange;
        }

        &.error {
            border-color: $default-red;
        }
    }

    label {
        position: absolute;
        left: 10px;
        top: 50%;
        pointer-events: none;
        transform: translateY(-50%);
        color: color.scale($default-font-color, $lightness: -40%);
        transition: .3s;
        font-weight: bold;
        white-space: nowrap;
    }
}

.checkBox {
    display: flex;
    align-items: center;

    &.center {
        justify-content: center;
    }

    label {
        cursor: pointer;
        margin-left: 0.25rem;
    }
}

span.error,
h2.error {
    color: $default-red;
}