@use "sass:color";

.metrics {
  list-style: none;
  color: $default-green;
  font-size: 12px;
  text-align: center;
  padding: 0;
  display: flex;
  place-items: center;
  gap: 0.5rem;

  >li {
    color: color.scale($default-font-color, $lightness: -15%);
  }

  @media screen and (max-width: $screen-sm) {
    display: grid;
    justify-items: left;
    border-left: 2px solid $default-green;
    padding-left: 0.5rem;

    &.critique{
      border-color: $default-orange;
    }
  }

  @media screen and (max-width: $screen-lg) {
    gap: 0.25rem;
  }
}

.startedBy {
  display: flex;
  place-items: center;
  font-size: 13px;
  font-weight: bold;
  color: $default-font-color;

  img {
    border: 1px solid $default-green;
    border-radius: 1px;
    image-rendering: pixelated;
    width: 16px;
    height: 16px;
    margin-right: 0.25rem;
    transition: transform 0.25s cubic-bezier(.68, -0.22, .37, 1.32);

    &:hover {
      transform: scale(6);
    }
  }
}