.pagination {
    display: flex;
    gap: 1.5rem;
    place-items: center;
    margin-top: 1rem;
    font-size: 1.25rem;

    >a {
        display: flex;
    }


    >.pages {
        display: flex;
        gap: 1rem;

        >span {
            cursor: pointer;
        }

        >a.active {
            border-bottom: 2px $default-green;
            cursor: text;
        }
    }
}