@use "sass:color";

.postSummary {
    a {
        display: flex;
        min-width: min-content;

        &:hover {
            .percentageBar {
                transition: all 0.15s ease;
                background-color: $default-orange;
            }
        }
    }

    .percentageBar {
        display: flex;
        width: 100%;
        min-height: 2.5rem;
        height: min-content;
        justify-content: space-between;
        background-color: color.scale($default-orange, $lightness: -35%);
        padding: 0 1rem 0 0.5rem;
        align-content: center;
        border-radius: 0 0.75rem 0.75rem 0;

        span,
        a {
            &:first-child {
                margin-right: 0.5rem;
            }
            svg{
                margin-right: 0.5rem;
                min-width: 16px;
            }

            color: $default-bg;
            display: flex;
            align-items: center;
        }

        &.chosen{
            background-color: $default-green;
        }
    }

    .read-more {
        display: flex;
        width: min-content;
        text-decoration: none;
        color: inherit;
        margin-left: auto;
        font-weight: bold;
        margin-bottom: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

}

.no-response {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem
}