// The base `.spinner` is in index.html, which shows it before the app loads
.spinner {
    &.button {
        display: inherit;
        margin: 0 var(--space-2) 0 0;
        width: 1rem;
        height: 1rem;
        border-width: 0.15rem;
        border-top-color: currentColor;
    }
}
