@use "../abstracts/mixins";
@use "../abstracts/variables";

.votingButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--text-2xl);
    gap: var(--space-1);
    margin-right: var(--space-2);
    justify-content: center;

    input {
        min-width: 1.25rem;
        min-height: 1.25rem;
    }

    @media screen and (min-width: 0px) and (max-width: variables.$screen-sm) {
        input {
            min-width: 1.75rem;
            min-height: 1.75rem;
        }

        font-size: var(--text-title);
    }

    &.withDefVote {
        gap: 0.125rem;

        input {
            margin: 0;
        }
    }

    .up,
    .down {
        cursor: pointer;
        display: flex;
        padding: 0.125rem;
        border-radius: 50%;
        @include mixins.transition((background-color, color, transform));

        &:hover {
            background-color: var(--hover);
        }

        &:active {
            transform: scale(0.88);
        }
    }

    .up {
        color: var(--green-text);

        &:hover {
            color: #a4cc4c;
        }
    }

    .down {
        color: var(--orange-text);

        &:hover {
            color: #f08f45;
        }
    }
}
