@import 'variables.scss';

nav{
    background-color: $navbar-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 3rem;

    div{
        align-items: center;
        display: flex;
    }

    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: $default-orange;
        }
    }

    ul{
        :first-child{
            list-style: none;
        }
        color: white;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1.35rem;
    }
}

.nav-icon{
    color: $default-green;
    margin: 0 2rem 0 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.25rem;
}

.nav-searchbar{
    color: white;
    background-color: darken($navbar-bg, 5%);
    height: 1.75rem;
    border: none;
    border-radius: 0.25rem;
    &:focus{
        outline: none !important;
    }
}

.nav-user-icon{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 1rem;
}