@use "abstracts/variables";

:export {
    sm: variables.$screen-sm;
    md: variables.$screen-md;
    lg: variables.$screen-lg;
    xl: variables.$screen-xl;
    xxl: variables.$screen-2xl;
    defaultGreen: variables.$default-green;
    defaultOrange: variables.$default-orange;
    defaultYellow: variables.$default-yellow;
    defaultBlue: variables.$default-blue;
    defaultInputBg: variables.$default-input-bg;
    defaultFontColor: variables.$default-font-color;
}