@use "abstracts/variables";

:export {
    sm: variables.$screen-sm;
    md: variables.$screen-md;
    lg: variables.$screen-lg;
    xl: variables.$screen-xl;
    xxl: variables.$screen-2xl;
    defaultGreen: variables.$green;
    defaultOrange: variables.$orange;
    defaultYellow: variables.$yellow;
    defaultBlue: variables.$blue;
    defaultInputBg: variables.$surface-raised;
    defaultFontColor: variables.$text;
}